/* https://colorhunt.co/palette/202087 */
html, body{
    height: 100%;
    width: 100%;
    background-color: #52575d;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

#title{
    text-align: center;
    color: #f6f4e6;
    margin-bottom: 5%;
}

#board{
    height: 400px;
    display: flex;
    justify-content: center;
}

.commands{
    margin: 2% 5%;
    display: flex;
    justify-content: center;
}
.commands button{
    margin-right: 1%;
}

footer{
    text-align: center;
    color: #f6f4e6;
    margin-top: 10%;
}

.bar{
    margin-right: 1%;
    padding: 1%;
    background-color: #41444b;
    text-align: center;
    border: solid 2px #fddb3a;
    color: #f6f4e6;
    margin-bottom: 0;
    margin-top: auto;
}

#inputNumber{
    width: 120px;
}

#bar7{
    background-color: rgb(78, 28, 28);
}